/*

    VARIABLES   

*/



:root {
  --font-family: sans-serif;
  --sans-serif: "Open Sans";
  --serif: athelas, serif;
  --monospace: 'Major Mono Display', monospace;
  --breakpoint-not-small: 30em;
  --breakpoint-medium: 40em;
  --breakpoint-large: 60em;
}
